



@media screen and (max-width:990px) {
  body .items-container
 {

    /* explicity */
    grid-template-rows:repeat(6, minmax(400px,auto)); 

    /* implicity */

    grid-template-columns: repeat(2,1fr);

    display: grid;
    grid-template-areas: 

    "i2 i2"
    "i1 i1"
    "i3 i6"
    "i4 i4"
    "i8 i5"
    "i7 i5"
    "i9 i9"
    "i10 i10"


    ;
 }


}

@media screen and (max-width:498px) {

    body .items-container
    {
   
       /* explicity */
       grid-template-rows:repeat(9, minmax(400px,auto)); 
   
       /* implicity */
   
       grid-template-columns: repeat(1,1fr);
   
       display: grid;
       grid-template-areas: 
   
       "i2"
       "i1"
       "i3"
       "i6"
       "i4"
       "i8"
       "i7"
       "i5"
       "i5"
       "i9"
       "i10"
   
   
 
       ;
    }
      .item2 p{
        font-size: 36px;
    }
}
